{% extends 'layout.html' %}

{% block content %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}
    <section>
        <header>
            {% block header %}
{#                <h1 class=" text-left" style="position: absolute; top: 50%; left: 40%; transform: translate(-50%,-50%)"><span style="font-weight: bold;line-height: .5;">Pitch</span> your ideas today</h1>#}
                <div class="heroimage">
                    <img src="{{ url_for('static', filename='heroimage2.jpg') }}" width="100%" height="100%" alt="" style="background-position: left;">
                </div>
{#                <a href="" class="btn btn-lg" style="border: 1px solid #283044; width: 20%; border-radius: 0; position: absolute; top: 80%; left: 50%; transform: translate(-50%,-50%)">Start today</a>#}

            {% endblock %}
        </header>
    </section>
{% endblock content %}