<!DOCTYPE html>
<html lang="en">
{% block head %}
        <head>
            <title> {{ title }} </title>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        </head>
{% endblock head %}
{% block body %}
    {% block navbar %}
        <div class="container">
            <nav class="mb-1 navbar navbar-expand-lg"><img src="{{ url_for('static', filename='logo.svg') }}" class="navbar-brand" width="8%" height="8%">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="#" class="nav-link" style="color: #283044;">Sign In</a></li>
                        <li class="nav-item "><a href="#" class="nav-link" style="color: #283044;">Sign Out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock navbar %}
    <section>
        <header>
            {% block header %}
                <div class="heroimage">
                    <img src="{{ url_for('static', filename='heroimage2.jpg') }}" width="100%" height="100%" alt="">
                </div>
            {% endblock %}
        </header>
    </section>

    {# empty block for custom content #}
    {% block content %}

    {% endblock content %}
{% endblock body %}

</html>