{% block navbar %}
        <div class="container">
            <nav class="mb-1 navbar navbar-expand-lg"><img src="{{ url_for('static', filename='logo.svg') }}" class="navbar-brand" width="8%" height="8%">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        {% if current_user.is_authenticated %}
                        <li style="color:#E9C4B2;"><a href="{{ url_for( 'main.profile', uname = current_user.username ) }}">Profile</a></li>
                        <li class="nav-item "><a href="{{ url_for('auth.logout') }}" class="nav-link" style="color: #283044;">Sign Out</a></li>
                        {% else %}
                        <li class="nav-item "><a href="{{ url_for('auth.login') }}" class="nav-link" style="color: #283044;">Sign In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
{% endblock navbar %}